/* 
  * Add the styles that belong to the DESKTOP view only
  * Add the media rule and the styles that are common within the TABLET and MOBILE views
  * Add the media rule and the styles that belong to the MOBILE view only
*/

@media (min-width: 1024px) {
  /* .top-navigation .trigram {
    display: none;
  } */

  /* 👇👇👇 Add the styles that belong to the DESKTOP view only beneath 👇👇👇 */
  .top-navigation a:hover{
    font-weight: bold;
  }
  .social-icons :hover{
    font-weight: bold;
    background-color: black;
    color: white;
  }
  .trigram{
    display: none;
  }
  .teammate-social-icons :hover{
    font-weight: bold;
    background-color: black;
    color: white;
  }
  .email :hover{
    font-weight: bold;
    color: white;
  }
  .phones :hover{
    font-weight: bold;
    color: white;
  }
  
}

/* 👇👇👇 Add the media rule and the styles that are common within the TABLET and MOBILE views beneath 👇👇👇 */
@media (min-width: 768px) and (max-width: 1023px){

  .top-navigation ul{
    display: none;
  }

  .trigram :hover{
    font-weight: bold;
  }

  .portfolio-list{
    display: flex;
    flex-direction: column;
  }

  .portfolio-item{
    flex-direction: row;
  }
  .portfolio-item-info{
    margin-top: 10px;
  }

  .section-info{
    padding: 10px;
  }

  .teammates-list:before {
    display: none;

  }
  .teammates-list:after {
    display: none;
  }

  .teammates-list-wrapper {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    height: 100%;
    width: 100%;
  }

  .teammate{
    width: 45%;
    height: 45%;
  }

  .teammate-img-wrapper{
    width: 100%;
    height: 100%;
  }
  .teammate-data .teammate-info{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .teammate-social-icons{
    justify-content: center;
  }

  footer .social-icons div {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 30px;
    text-transform: uppercase;
    font-size: 14px;
  }

  footer .social-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 0 auto;
  }

  .social-icons span{
    display: none;
  }

  footer .social-icons .icon {
    width: 30px;
    height: 30px;
    background-color: white;
    color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
  .icon i{
    display: flex;
    justify-content: center;
    color: black;
    background-color: white;
  }
}
/* 👇👇👇 Add the media rule and the styles that belong to the MOBILE view only beneath 👇👇👇 */
@media (min-width: 360px) and (max-width: 767px){
  .top-navigation ul{
    display: none;
  }

  .trigram :hover{
    font-weight: bold;
  }
  .portfolio-list{
    display: flex;
    flex-direction: column;
  }
  .portfolio-item-info{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .portfolio-item-info .item-description{
    align-items: center;
    max-width: 90%;
  }
  .teammates-content .subtext{
    align-items: center;
    max-width: 90%;
  }
  .teammates-list:before {
    display: none;

  }
  .teammates-list:after {
    display: none;
  }

  .teammates-list{
    display: flex;
    flex-direction: column;
  }
  .teammates-list-wrapper{
    display: flex;
    flex-direction: column;
  }

  .teammate{
    flex-direction: row;
    align-items: center;
    border: 1px solid gray
  }
  .teammate-img-wrapper{
    padding: 5px;
  }
  .teammate-data{
    padding-left: 10px;
  }

  .teammate-social-icons{
    padding-top: 5px;
  }
  footer .social-icons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    margin: 0 auto;
  }

  footer .social-icons .icon {
    width: 30px;
    height: 30px;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }

  .footer-contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
  }


}
  